<!DOCTYPE html>
<html>
  <head>
    <title>My5000px</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%# <link rel="stylesheet" href="/Users/jacobbenowitz/Desktop/a:A/my5000px/app/assets/javascripts/main.css" /> %>
    <%# <%= stylesheet_link_tag    'index', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
